In [1]:
import pyhealth
import os
import pandas as pd
import numpy as np

In [2]:
cd Data

C:\Users\Matthew\Desktop\Data

In [3]:
diag = pd.read_csv("DIAGNOSES_ICD.csv")
diag.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254

In [4]:
sum(diag["ICD9_CODE"] == "4280")

13111

In [5]:
diagnoses = pd.read_csv("D_ICD_DIAGNOSES.csv")
diagnoses.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [6]:
diagnoses[diagnoses["ICD9_CODE"] == "4289"]

      ROW_ID ICD9_CODE        SHORT_TITLE                  LONG_TITLE
4486    4487      4289  Heart failure NOS  Heart failure, unspecified

In [7]:
#398.91, 402.01, 402.11, 402.91, 404.01, 404.03, 404.11, 404.13, 404.91, 404.93, 428.0, 428.1,
#428.20, 428.21, 428.22, 428.23, 428.30, 428.31, 428.32, 428.33, 428.40, 428.41, 428.42, 428.43, and 428.9

In [8]:
hf_codelist = ["39891", "40201", "40211", "40291", "40401", "40403", "40411", "40413", "40491", "40493", "4280", "4281", "42820", "42821", "42822", "42823", "42830", "42831", "42832", "42833", "42840", "42841", "42842", "42843", "4289"]
hf_codelist

['39891',
 '40201',
 '40211',
 '40291',
 '40401',
 '40403',
 '40411',
 '40413',
 '40491',
 '40493',
 '4280',
 '4281',
 '42820',
 '42821',
 '42822',
 '42823',
 '42830',
 '42831',
 '42832',
 '42833',
 '42840',
 '42841',
 '42842',
 '42843',
 '4289']

In [9]:
#diagnosed heart failure icd9 codes 
hf_diagnoses = diag[diag["ICD9_CODE"].isin(hf_codelist)]
hf_diagnoses.head()

     ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
51     1511         115   114585     10.0      4280
67     1527         117   140784      5.0      4280
150    1610         124   138376     12.0     42833
153    1613         124   138376     15.0      4280
211    1671         130   198214      2.0      4280

In [10]:
noteevents = pd.read_csv("NOTEEVENTS.csv")
noteevents.head()

C:\Users\Matthew\AppData\Local\Temp\ipykernel_15240\155312056.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  noteevents = pd.read_csv("NOTEEVENTS.csv")

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [11]:
noteevents["CATEGORY"].unique()

array(['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Physician ',
       'Rehab Services', 'Case Management ', 'Respiratory ', 'Nutrition',
       'General', 'Social Work', 'Pharmacy', 'Consult', 'Radiology',
       'Nursing/other'], dtype=object)

In [12]:
#take only discharge summary notes
discharge_events = noteevents[noteevents["CATEGORY"] == "Discharge summary"]
discharge_events

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...
...,...,...,...,...,...,...,...,...,...,...,...
60411,59608,93924,135672.0,2104-06-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18321**],[**Known fir..."
60412,59609,17782,155710.0,2112-03-31,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 2706**], [**Known fir..."
60413,59621,96333,183951.0,2197-06-18,NaN,NaN,Discharge summary,Addendum,NaN,NaN,Name: [**Known lastname 18357**]-[**Known las...
60414,59622,66717,169165.0,2129-08-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname **],[**Known firstnam..."
60415,59623,73790,157100.0,2113-07-18,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 12459**],[**Known fir..."

In [13]:
hf_diagnoses.head()

     ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
51     1511         115   114585     10.0      4280
67     1527         117   140784      5.0      4280
150    1610         124   138376     12.0     42833
153    1613         124   138376     15.0      4280
211    1671         130   198214      2.0      4280

In [14]:
discharge_events.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [15]:
admissions = pd.read_csv("ADMISSIONS.csv")

In [16]:
admissions.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1

In [17]:
intermediate = admissions.merge(discharge_events, how="left", on="HADM_ID")
intermediate.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,ROW_ID_y,SUBJECT_ID_y,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,12144.0,22.0,2196-04-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2196-4-9**] Discharg...
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,4310.0,23.0,2153-09-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2153-9-3**] D...
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,4311.0,23.0,2157-10-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2157-10-18**] ...
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,...,24525.0,24.0,2139-06-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2139-6-6**] D...
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,...,23085.0,25.0,2160-11-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2160-11-2**] ...

In [18]:
dataset = intermediate.merge(hf_diagnoses, how="left", on="HADM_ID")
dataset

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2196-4-9**] Discharg...,NaN,NaN,NaN,NaN
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2153-9-3**] D...,NaN,NaN,NaN,NaN
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2157-10-18**] ...,NaN,NaN,NaN,NaN
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2139-6-6**] D...,NaN,NaN,NaN,NaN
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2160-11-2**] ...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73825,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-3-30**] ...,NaN,NaN,NaN,NaN
73826,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-3-5**] D...,NaN,NaN,NaN,NaN
73827,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2200-9-12**] ...,NaN,NaN,NaN,NaN
73828,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2128-11-11**] ...,NaN,NaN,NaN,NaN
73829,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-10-25**] ...,NaN,NaN,NaN,NaN

In [19]:
#Drop all rows where the patient was NOT diagnosed with a heart failure related ICD9 code
dataset = dataset.dropna(subset=["ICD9_CODE"]).reset_index()
dataset.head()

,index,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,...,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE
0,5,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2126-5-6**] Discharge ...,186.0,26.0,3.0,4280
1,8,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-10-14**] Discha...,211.0,30.0,4.0,4281
2,12,33,34,115799,2186-07-18 16:46:00,2186-07-20 16:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,...,NaN,NaN,NaN,NaN,NaN,NaN,237.0,34.0,2.0,4280
3,13,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,245.0,34.0,2.0,42822
4,14,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,249.0,34.0,6.0,4280

In [20]:
len(dataset)

24217

In [21]:
#Drop all rows where a discharge summary does not exist
dataset = dataset.dropna(subset=["CATEGORY"]).reset_index()
dataset.head()

,level_0,index,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,...,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE
0,0,5,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2126-5-6**] Discharge ...,186.0,26.0,3.0,4280
1,1,8,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-10-14**] Discha...,211.0,30.0,4.0,4281
2,3,13,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,245.0,34.0,2.0,42822
3,4,14,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,249.0,34.0,6.0,4280
4,5,19,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2183-8-21**] Discharge...,297.0,37.0,2.0,4280

In [22]:
len(dataset)

23830

In [23]:
dataset = dataset.drop(["level_0", "index"], axis=1)
dataset.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE
0,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2126-5-6**] Discharge ...,186.0,26.0,3.0,4280
1,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-10-14**] Discha...,211.0,30.0,4.0,4281
2,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,245.0,34.0,2.0,42822
3,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,249.0,34.0,6.0,4280
4,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2183-8-21**] Discharge...,297.0,37.0,2.0,4280

In [24]:
sum(dataset["ICD9_CODE"].isnull())

0

In [25]:
sum(dataset["CATEGORY"].isnull())

0

In [26]:
sum(dataset.duplicated())

0

In [27]:
dataset["ADMITTIME"] = pd.to_datetime(dataset["ADMITTIME"])
dataset["DISCHTIME"] = pd.to_datetime(dataset["DISCHTIME"])

In [28]:
dataset.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE
0,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2126-5-6**] Discharge ...,186.0,26.0,3.0,4280
1,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-10-14**] Discha...,211.0,30.0,4.0,4281
2,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,245.0,34.0,2.0,42822
3,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,249.0,34.0,6.0,4280
4,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,...,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2183-8-21**] Discharge...,297.0,37.0,2.0,4280

In [29]:
dataset["SAME_SUBJECT_ID"] = dataset["SUBJECT_ID_x"] == dataset["SUBJECT_ID_x"].shift(1)
dataset["SAME_HADM_ID"] = dataset["HADM_ID"] == dataset["HADM_ID"].shift(1)

In [30]:
dataset

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID
0,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,...,Report,NaN,NaN,Admission Date: [**2126-5-6**] Discharge ...,186.0,26.0,3.0,4280,False,False
1,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,Report,NaN,NaN,Admission Date: [**2172-10-14**] Discha...,211.0,30.0,4.0,4281,False,False
2,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,245.0,34.0,2.0,42822,False,False
3,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...,249.0,34.0,6.0,4280,True,True
4,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,...,Report,NaN,NaN,Admission Date: [**2183-8-21**] Discharge...,297.0,37.0,2.0,4280,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23825,58574,98744,153703,2127-10-21 12:43:00,2127-10-31 12:35:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,Report,NaN,NaN,Admission Date: [**2127-10-21**] ...,645231.0,98744.0,12.0,4280,True,True
23826,58580,98753,185764,2172-02-11 21:26:00,2172-03-02 08:00:00,2172-03-02 08:00:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,...,Report,NaN,NaN,Admission Date: [**2172-2-11**] ...,645336.0,98753.0,5.0,42831,False,False
23827,58580,98753,185764,2172-02-11 21:26:00,2172-03-02 08:00:00,2172-03-02 08:00:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,...,Report,NaN,NaN,Admission Date: [**2172-2-11**] ...,645360.0,98753.0,29.0,4280,True,True
23828,58581,98755,184156,2167-05-17 12:36:00,2167-05-18 17:03:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,...,Report,NaN,NaN,Admission Date: [**2167-5-17**] ...,645363.0,98755.0,2.0,42832,False,False
23829,58581,98755,184156,2167-05-17 12:36:00,2167-05-18 17:03:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,...,Report,NaN,NaN,Admission Date: [**2167-5-17**] ...,645365.0,98755.0,4.0,4280,True,True

In [31]:
readmit_times = []

subject_id = 0
hadm_id = 0
dischtime = pd.Timedelta(0)
for i in range(len(dataset)):
    
    if (dataset["SUBJECT_ID_x"][i] == subject_id) and (dataset["HADM_ID"][i] != hadm_id):
        readmit_times.append(dataset['ADMITTIME'][i] - dischtime)
        
        if dataset["SAME_HADM_ID"][i]:
            dischtime = dataset["DISCHTIME"][i]
    elif (dataset["SUBJECT_ID_x"][i] != subject_id):
        subject_id = dataset["SUBJECT_ID_x"][i]
        hadm_id = dataset["HADM_ID"][i]
        dischtime = dataset["DISCHTIME"][i]
        
        #If not a readmission at all, value 0
        readmit_times.append(pd.Timedelta(0))
    else: 
        readmit_times.append(pd.Timedelta(0))

In [32]:
readmit_times

[Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('302 days 08:36:00'),
 Timedelta('302 days 08:36:00'),
 Timedelta('339 days 21:45:00'),
 Timedelta('339 days 21:45:00'),
 Timedelta('59 days 05:07:00'),
 Timedelta('59 days 05:07:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('1 days 03:51:00'),
 Timedelta('1 days 03:51:00'),
 Timedelta('-15 days +10:51:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('776 days 10:58:00'),
 Timedelta('776 days 10:58:00'),
 Timedelta('48 days 18:15:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('242 days 00:28:00'),
 Timedelta('777 days 05:37:00'),
 Timedelta('777 days 05:37:00'),
 Timedelta('766 days 04:05:00'),
 Timedelta('766 days 04:05:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('378 days 16:29:00'),
 Timedelta('378 days 16:29:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('342 days 09:37:00'),
 Timedelta('1578 days 07:04:00'),
 Timedelta('1690 days 02:16:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('354 days 00:26:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('616 days 04:55:00'),
 Timedelta('616 days 04:55:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('17 days 23:24:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('769 days 01:10:00'),
 Timedelta('769 days 01:10:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('104 days 23:27:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('71 days 07:55:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('2450 days 12:13:00'),
 Timedelta('2450 days 12:13:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('2869 days 06:37:00'),
 Timedelta('2869 days 06:37:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('1860 days 05:21:00'),
 Timedelta('2309 days 00:38:00'),
 Timedelta('2309 days 00:38:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('46 days 04:22:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('1833 days 10:15:00'),
 Timedelta('1833 days 10:15:00'),
 Timedelta('483 days 00:36:00'),
 Timedelta('483 days 00:36:00'),
 Timedelta('24 days 08:08:00'),
 Timedelta('24 days 08:08:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('7 days 04:46:00'),
 Timedelta('7 days 04:46:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('238 days 23:10:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('2432 days 23:08:00'),
 Timedelta('2432 days 23:08:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('5 days 08:09:00'),
 Timedelta('5 days 08:09:00'),
 Timedelta('-27 days +05:51:00'),
 Timedelta('-27 days +05:51:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('72 days 11:15:00'),
 Timedelta('82 days 14:19:00'),
 Timedelta('92 days 10:51:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('122 days 21:03:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('4 days 18:06:00'),
 Timedelta('4 days 18:06:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('28 days 02:57:00'),
 Timedelta('28 days 02:57:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('109 days 01:48:00'),
 Timedelta('109 days 01:48:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('42 days 21:57:00'),
 Timedelta('42 days 21:57:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('3 days 04:14:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('930 days 22:53:00'),
 Timedelta('930 days 22:53:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('606 days 20:56:00'),
 Timedelta('757 days 02:00:00'),
 Timedelta('916 days 22:27:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('53 days 05:56:00'),
 Timedelta('53 days 05:56:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('7 days 04:10:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('463 days 17:51:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('172 days 15:48:00'),
 Timedelta('256 days 03:14:00'),
 Timedelta('256 days 03:14:00'),
 Timedelta('12 days 06:16:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('2 days 05:22:00'),
 Timedelta('2 days 05:22:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('668 days 00:13:00'),
 Timedelta('668 days 00:13:00'),
 Timedelta('1151 days 22:38:00'),
 Timedelta('1151 days 22:38:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('1127 days 11:49:00'),
 Timedelta('1127 days 11:49:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('136 days 19:47:00'),
 Timedelta('136 days 19:47:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('27 days 02:39:00'),
 Timedelta('27 days 02:39:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('14 days 14:12:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('75 days 01:22:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('25 days 06:46:00'),
 Timedelta('25 days 06:46:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('160 days 13:20:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('129 days 11:09:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('2 days 06:53:00'),
 Timedelta('2 days 06:53:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('49 days 00:44:00'),
 Timedelta('49 days 00:44:00'),
 Timedelta('60 days 09:51:00'),
 Timedelta('60 days 09:51:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('131 days 14:15:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('4 days 11:06:00'),
 Timedelta('4 days 11:06:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('714 days 18:36:00'),
 Timedelta('714 days 18:36:00'),
 Timedelta('92 days 16:29:00'),
 Timedelta('92 days 16:29:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('25 days 01:50:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('1054 days 07:16:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('746 days 22:31:00'),
 Timedelta('867 days 01:31:00'),
 Timedelta('867 days 01:31:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('41 days 02:23:00'),
 Timedelta('41 days 02:23:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('1248 days 14:18:00'),
 Timedelta('1262 days 19:55:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('15 days 01:32:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('265 days 01:14:00'),
 Timedelta('265 days 01:14:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('71 days 22:09:00'),
 Timedelta('71 days 22:09:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('1536 days 22:36:00'),
 Timedelta('1536 days 22:36:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('192 days 22:42:00'),
 Timedelta('192 days 22:42:00'),
 Timedelta('4 days 01:01:00'),
 Timedelta('4 days 01:01:00'),
 Timedelta('2 days 07:34:00'),
 Timedelta('2 days 07:34:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('2127 days 08:56:00'),
 Timedelta('2127 days 08:56:00'),
 Timedelta('413 days 17:14:00'),
 Timedelta('413 days 17:14:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('42 days 18:25:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('91 days 00:59:00'),
 Timedelta('91 days 00:59:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),
 Timedelta('0 days 00:00:00'),

In [33]:
dataset["READMISSION_TIMES"] = readmit_times

In [34]:
dataset[dataset["SUBJECT_ID_x"] == 357]

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,CGID,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES
6,456,357,174486,2197-12-06 07:13:00,2198-01-03 14:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,NaN,NaN,Admission Date: [**2197-12-6**] ...,4334.0,357.0,8.0,4280,False,False,0 days 00:00:00
7,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,NaN,NaN,Admission Date: [**2198-11-1**] ...,4297.0,357.0,14.0,4280,True,False,302 days 08:36:00
8,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,NaN,NaN,Admission Date: [**2198-11-1**] ...,4298.0,357.0,15.0,42823,True,True,302 days 08:36:00
9,459,357,101651,2199-10-20 12:05:00,2199-10-23 17:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,NaN,Admission Date: [**2199-10-20**] ...,4246.0,357.0,2.0,42822,True,False,339 days 21:45:00
10,459,357,101651,2199-10-20 12:05:00,2199-10-23 17:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,NaN,Admission Date: [**2199-10-20**] ...,4253.0,357.0,9.0,4280,True,True,339 days 21:45:00
11,460,357,117876,2199-12-21 22:37:00,2200-01-18 11:45:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,NaN,Admission Date: [**2199-12-21**] ...,4271.0,357.0,10.0,42822,True,False,59 days 05:07:00
12,460,357,117876,2199-12-21 22:37:00,2200-01-18 11:45:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,NaN,Admission Date: [**2199-12-21**] ...,4273.0,357.0,12.0,4280,True,True,59 days 05:07:00

In [35]:
dataset.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,CGID,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES
0,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,...,NaN,NaN,Admission Date: [**2126-5-6**] Discharge ...,186.0,26.0,3.0,4280,False,False,0 days
1,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,NaN,NaN,Admission Date: [**2172-10-14**] Discha...,211.0,30.0,4.0,4281,False,False,0 days
2,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,NaN,Admission Date: [**2191-2-23**] ...,245.0,34.0,2.0,42822,False,False,0 days
3,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,NaN,Admission Date: [**2191-2-23**] ...,249.0,34.0,6.0,4280,True,True,0 days
4,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,...,NaN,NaN,Admission Date: [**2183-8-21**] Discharge...,297.0,37.0,2.0,4280,False,False,0 days

In [36]:
general_readmission = []

subject_id = 0
for i in range(len(dataset)):
    if (dataset["SUBJECT_ID_x"][i] != subject_id) and (dataset["READMISSION_TIMES"].shift(-1)[i] > pd.Timedelta(0)):
        general_readmission.append(1)
        
        subject_id = dataset["SUBJECT_ID_x"][i]
    
    elif (dataset["SAME_SUBJECT_ID"][i] != dataset["SAME_SUBJECT_ID"].shift(-1)[i]) or (dataset["SAME_SUBJECT_ID"][i] != dataset["SAME_SUBJECT_ID"].shift(-2)[i]):
        general_readmission.append(0)
        
    elif (dataset["READMISSION_TIMES"][i] > pd.Timedelta(0)):
        general_readmission.append(1)
        
    else:
        general_readmission.append(0)

In [37]:
general_readmission

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 ...]

In [38]:
dataset["GENERAL_READMISSION"] = general_readmission

In [39]:
dataset[dataset["SUBJECT_ID_x"] == 357]

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION
6,456,357,174486,2197-12-06 07:13:00,2198-01-03 14:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,NaN,Admission Date: [**2197-12-6**] ...,4334.0,357.0,8.0,4280,False,False,0 days 00:00:00,1
7,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,NaN,Admission Date: [**2198-11-1**] ...,4297.0,357.0,14.0,4280,True,False,302 days 08:36:00,1
8,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,NaN,Admission Date: [**2198-11-1**] ...,4298.0,357.0,15.0,42823,True,True,302 days 08:36:00,1
9,459,357,101651,2199-10-20 12:05:00,2199-10-23 17:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,Admission Date: [**2199-10-20**] ...,4246.0,357.0,2.0,42822,True,False,339 days 21:45:00,1
10,459,357,101651,2199-10-20 12:05:00,2199-10-23 17:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,Admission Date: [**2199-10-20**] ...,4253.0,357.0,9.0,4280,True,True,339 days 21:45:00,1
11,460,357,117876,2199-12-21 22:37:00,2200-01-18 11:45:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,Admission Date: [**2199-12-21**] ...,4271.0,357.0,10.0,42822,True,False,59 days 05:07:00,0
12,460,357,117876,2199-12-21 22:37:00,2200-01-18 11:45:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,NaN,Admission Date: [**2199-12-21**] ...,4273.0,357.0,12.0,4280,True,True,59 days 05:07:00,0

In [40]:
thirtyday_readmission = []

subject_id = 0
for i in range(len(dataset)):
    if (dataset["SUBJECT_ID_x"][i] != subject_id) and (dataset["READMISSION_TIMES"].shift(-1)[i] > pd.Timedelta(0)) and (dataset["READMISSION_TIMES"].shift(-1)[i] < pd.Timedelta(days=30)):
        thirtyday_readmission.append(1)
        
        subject_id = dataset["SUBJECT_ID_x"][i]
    
    elif (dataset["SAME_SUBJECT_ID"][i] != dataset["SAME_SUBJECT_ID"].shift(-1)[i]) or (dataset["SAME_SUBJECT_ID"][i] != dataset["SAME_SUBJECT_ID"].shift(-2)[i]):
        thirtyday_readmission.append(0)
        
    elif (dataset["READMISSION_TIMES"][i] < pd.Timedelta(days=30)) and (dataset["READMISSION_TIMES"][i] > pd.Timedelta(0)):
        thirtyday_readmission.append(1)
        
    else:
        thirtyday_readmission.append(0)

In [41]:
thirtyday_readmission

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 ...]

In [42]:
dataset

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,ISERROR,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION
0,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,...,NaN,Admission Date: [**2126-5-6**] Discharge ...,186.0,26.0,3.0,4280,False,False,0 days,0
1,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,NaN,Admission Date: [**2172-10-14**] Discha...,211.0,30.0,4.0,4281,False,False,0 days,0
2,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,Admission Date: [**2191-2-23**] ...,245.0,34.0,2.0,42822,False,False,0 days,0
3,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,Admission Date: [**2191-2-23**] ...,249.0,34.0,6.0,4280,True,True,0 days,0
4,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,...,NaN,Admission Date: [**2183-8-21**] Discharge...,297.0,37.0,2.0,4280,False,False,0 days,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23825,58574,98744,153703,2127-10-21 12:43:00,2127-10-31 12:35:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,NaN,Admission Date: [**2127-10-21**] ...,645231.0,98744.0,12.0,4280,True,True,0 days,0
23826,58580,98753,185764,2172-02-11 21:26:00,2172-03-02 08:00:00,2172-03-02 08:00:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,...,NaN,Admission Date: [**2172-2-11**] ...,645336.0,98753.0,5.0,42831,False,False,0 days,0
23827,58580,98753,185764,2172-02-11 21:26:00,2172-03-02 08:00:00,2172-03-02 08:00:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,...,NaN,Admission Date: [**2172-2-11**] ...,645360.0,98753.0,29.0,4280,True,True,0 days,0
23828,58581,98755,184156,2167-05-17 12:36:00,2167-05-18 17:03:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,...,NaN,Admission Date: [**2167-5-17**] ...,645363.0,98755.0,2.0,42832,False,False,0 days,0
23829,58581,98755,184156,2167-05-17 12:36:00,2167-05-18 17:03:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,...,NaN,Admission Date: [**2167-5-17**] ...,645365.0,98755.0,4.0,4280,True,True,0 days,0

In [43]:
sum(thirtyday_readmission)

1267

In [44]:
dataset["THIRTYDAY_READMISSION"] = thirtyday_readmission

In [45]:
dataset.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION,THIRTYDAY_READMISSION
0,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,...,Admission Date: [**2126-5-6**] Discharge ...,186.0,26.0,3.0,4280,False,False,0 days,0,0
1,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,Admission Date: [**2172-10-14**] Discha...,211.0,30.0,4.0,4281,False,False,0 days,0,0
2,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,Admission Date: [**2191-2-23**] ...,245.0,34.0,2.0,42822,False,False,0 days,0,0
3,34,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,Admission Date: [**2191-2-23**] ...,249.0,34.0,6.0,4280,True,True,0 days,0,0
4,39,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,...,Admission Date: [**2183-8-21**] Discharge...,297.0,37.0,2.0,4280,False,False,0 days,0,0

In [46]:
len(dataset)

23830

In [47]:
sum(dataset["GENERAL_READMISSION"])

4405

In [48]:
sum(dataset["THIRTYDAY_READMISSION"])

1267

In [49]:
true_gen_readmit = dataset[dataset["GENERAL_READMISSION"] == True]

In [50]:
false_gen_readmit = dataset[dataset["GENERAL_READMISSION"] == False].sample(n=sum(dataset["GENERAL_READMISSION"]), random_state=1)

In [51]:
gen_readmission_dataset = pd.concat([true_gen_readmit, false_gen_readmit])
gen_readmission_dataset.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION,THIRTYDAY_READMISSION
6,456,357,174486,2197-12-06 07:13:00,2198-01-03 14:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,Admission Date: [**2197-12-6**] ...,4334.0,357.0,8.0,4280,False,False,0 days 00:00:00,1,0
7,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,Admission Date: [**2198-11-1**] ...,4297.0,357.0,14.0,4280,True,False,302 days 08:36:00,1,0
8,458,357,122609,2198-11-01 22:36:00,2198-11-14 14:20:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,Admission Date: [**2198-11-1**] ...,4298.0,357.0,15.0,42823,True,True,302 days 08:36:00,1,0
9,459,357,101651,2199-10-20 12:05:00,2199-10-23 17:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,Admission Date: [**2199-10-20**] ...,4246.0,357.0,2.0,42822,True,False,339 days 21:45:00,1,0
10,459,357,101651,2199-10-20 12:05:00,2199-10-23 17:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,Admission Date: [**2199-10-20**] ...,4253.0,357.0,9.0,4280,True,True,339 days 21:45:00,1,0

In [52]:
len(gen_readmission_dataset)

8810

In [53]:
true_thirty_readmit = dataset[dataset["THIRTYDAY_READMISSION"] == True]

In [54]:
false_thirty_readmit = dataset[dataset["THIRTYDAY_READMISSION"] == False].sample(n=sum(dataset["THIRTYDAY_READMISSION"]), random_state=1)

In [55]:
thirty_readmission_dataset = pd.concat([true_thirty_readmit, false_thirty_readmit])
thirty_readmission_dataset.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION,THIRTYDAY_READMISSION
23,69,68,170467,2173-12-15 16:16:00,2174-01-03 18:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,...,Admission Date: [**2173-12-15**] ...,556.0,68.0,5.0,4280,True,True,0 days 00:00:00,1,1
24,70,68,108329,2174-01-04 22:21:00,2174-01-19 11:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,Admission Date: [**2174-1-4**] D...,550.0,68.0,10.0,4280,True,False,1 days 03:51:00,1,1
89,454,356,135591,2132-08-05 00:09:00,2132-08-13 17:41:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,...,Admission Date: [**2132-8-4**] Discharg...,4228.0,356.0,2.0,4280,False,False,0 days 00:00:00,1,1
197,1090,878,102365,2137-10-07 17:09:00,2137-10-31 14:30:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,Medicare,...,Admission Date: [**2137-10-7**] ...,10188.0,878.0,14.0,4280,True,True,483 days 00:36:00,1,1
206,1109,894,112487,2108-10-26 16:20:00,2108-10-29 16:35:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,...,Admission Date: [**2108-10-26**] Discharg...,10420.0,894.0,3.0,4280,True,True,0 days 00:00:00,1,1

In [56]:
len(thirty_readmission_dataset)

2534

In [57]:
gen_readmission_dataset = gen_readmission_dataset.sample(frac=1)
ratio = 0.9
 
total_rows = gen_readmission_dataset.shape[0]
train_size = int(total_rows*ratio)
 
# Split data into test and train
train_gen = gen_readmission_dataset[0:train_size]
test_gen = gen_readmission_dataset[train_size:]

In [58]:
thirty_readmission_dataset = thirty_readmission_dataset.sample(frac=1)
ratio = 0.9
 
total_rows = thirty_readmission_dataset.shape[0]
train_size = int(total_rows*ratio)
 
# Split data into test and train
train_thirty = thirty_readmission_dataset[0:train_size]
test_thirty = thirty_readmission_dataset[train_size:]

In [61]:
train_gen.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION,THIRTYDAY_READMISSION
15023,39948,40576,155431,2188-11-04 14:05:00,2188-11-17 16:05:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,REHAB/DISTINCT PART HOSP,Medicare,...,"Name: [**Known lastname **],[**Known firstnam...",381537.0,40576.0,4.0,42821,True,True,0 days 00:00:00,1,0
4130,12288,10038,111115,2144-02-09 17:53:00,2144-02-21 13:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,Admission Date: [**2144-2-9**] D...,112614.0,10038.0,4.0,4280,False,False,0 days 00:00:00,0,0
12012,35424,29035,152710,2154-02-01 21:05:00,2154-02-11 15:40:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,...,Admission Date: [**2154-2-1**] D...,330767.0,29035.0,6.0,42832,True,False,55 days 06:16:00,1,0
17632,43984,53102,176122,2168-03-23 12:14:00,2168-03-27 12:15:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,REHAB/DISTINCT PART HOSP,Medicare,...,Admission Date: [**2168-3-23**] ...,439173.0,53102.0,6.0,4280,True,True,0 days 00:00:00,0,0
17414,44311,54135,150600,2172-07-14 19:30:00,2172-07-24 17:40:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Private,...,Admission Date: [**2172-7-14**] ...,443763.0,54135.0,2.0,42823,False,False,0 days 00:00:00,0,0

In [62]:
test_gen.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION,THIRTYDAY_READMISSION
14640,38669,31867,193503,2143-08-31 14:08:00,2143-09-06 11:40:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,...,Admission Date: [**2143-8-31**] ...,366629.0,31867.0,6.0,4280,True,True,0 days 00:00:00,0,0
12627,33627,27504,154476,2114-05-18 19:54:00,2114-05-24 04:30:00,2114-05-24 04:30:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,Admission Date: [**2114-5-18**] ...,310033.0,27504.0,11.0,4280,True,True,60 days 03:03:00,0,0
20359,51727,77149,144128,2141-03-17 20:54:00,2141-03-31 14:45:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,Admission Date: [**2141-3-17**] ...,549168.0,77149.0,2.0,42833,False,False,0 days 00:00:00,0,0
20354,51717,77129,151614,2112-07-31 16:02:00,2112-08-06 18:45:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,Admission Date: [**2112-7-31**] ...,548983.0,77129.0,2.0,42833,True,False,50 days 22:52:00,1,0
12621,33624,27504,122586,2112-09-15 05:27:00,2112-09-21 16:02:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,Admission Date: [**2112-9-15**] ...,310007.0,27504.0,4.0,4280,True,True,0 days 00:00:00,1,0

In [63]:
train_thirty.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION,THIRTYDAY_READMISSION
19769,49598,70445,196379,2143-03-17 08:40:00,2143-03-19 16:21:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,...,Admission Date: [**2143-3-17**] ...,519472.0,70445.0,1.0,42833,True,False,7 days 16:40:00,1,1
10105,27204,22289,160945,2110-05-04 21:56:00,2110-05-23 17:06:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,...,Admission Date: [**2110-5-4**] D...,248376.0,22289.0,3.0,42823,True,False,26 days 07:56:00,1,1
20792,51470,76439,161768,2179-05-26 15:07:00,2179-06-09 13:30:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,...,Admission Date: [**2179-5-26**] ...,545350.0,76439.0,6.0,42830,False,False,0 days 00:00:00,0,0
20085,49994,71698,115429,2109-02-01 23:26:00,2109-02-11 15:29:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SHORT TERM HOSPITAL,Medicare,...,Admission Date: [**2109-2-1**] D...,524785.0,71698.0,10.0,4280,True,True,0 days 00:00:00,0,0
11206,30974,25326,109204,2120-01-15 11:12:00,2120-01-25 14:07:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,...,Admission Date: [**2120-1-15**] ...,283574.0,25326.0,16.0,4280,True,True,39 days 20:08:00,1,1

In [64]:
test_thirty.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,TEXT,ROW_ID,SUBJECT_ID,SEQ_NUM,ICD9_CODE,SAME_SUBJECT_ID,SAME_HADM_ID,READMISSION_TIMES,GENERAL_READMISSION,THIRTYDAY_READMISSION
951,2884,2378,162768,2141-06-08 19:01:00,2141-06-21 16:12:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,...,Admission Date: [**2141-6-8**] D...,26755.0,2378.0,13.0,4280,True,True,212 days 02:51:00,1,1
8742,25752,21102,182027,2134-05-10 22:24:00,2134-05-21 16:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,...,Admission Date: [**2134-5-10**] ...,235428.0,21102.0,1.0,42831,True,False,578 days 03:19:00,0,0
10598,26286,21514,108728,2108-12-01 19:01:00,2108-12-07 13:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicaid,...,Admission Date: [**2108-12-1**] ...,240072.0,21514.0,4.0,42822,True,False,25 days 06:48:00,1,1
8583,24951,20444,190030,2179-05-18 22:01:00,2179-05-25 14:56:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicaid,...,Admission Date: [**2179-5-18**] ...,228135.0,20444.0,1.0,42832,False,False,0 days 00:00:00,0,0
7091,18066,14768,166758,2146-11-17 20:28:00,2146-11-22 17:33:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,...,Admission Date: [**2146-11-17**] Discharg...,164923.0,14768.0,5.0,42843,True,True,28 days 05:43:00,1,1